

*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', "sans-serif";
}


/* General Css */

.heading{
  font-size: 3rem;
  color: #A24B4A;
}
.nav-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.social-icons{
  filter: drop-shadow(1px 3px 8px #71b1e2);
}

.heroinImage{
  background-repeat: repeat-x;
}

.menuItem{
  filter: drop-shadow(2px 2px 4px #efc273);
}


@media only screen and (max-width:768px){
    .menu{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: #00000084;
      z-index: 100;
      display: none;
    }
  
    .menu ul{
      width: 50vw;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 200;
      background: #12141e;
      background: linear-gradient(180deg, #12141e 0%, #12141e 100%);
      color: #AD974F;
      flex-direction: column;
      line-height: 30px;
      justify-content: center;
      align-items: center;
    }
  
    .show__menu {
      display: block;
    }
  }

  .close{
    display: none;
  }

  .navbar.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
    color: #430f14;
  }

  .navbar {
    position: fixed;
    background-color: #12141e;
    transition: background-color 0.3s ease;
    z-index: 100;
    color: #c3ab5c;
   }

  


/* Services Page */

.leftcard{
  background-color: #e1e2e5;
}

.gradientColor{
      background: #1004568c;
      background: linear-gradient(360deg, #022d528c 0%, #030b5e 100%);
}


/* Fashion Section */

.banner{
  border-radius: 10px 20rem;
  margin: auto;
  margin-top: 3rem;
  height: auto;
  width: 50vw;
  background-color:#12141e;
}



/* Mdoeling */

.bannerMod{
  border-radius: 10px 20rem;
  margin: auto;
  margin-top: 2rem;
  height: auto;
  width: 40vw;
  background-color:#12141e;
}

/* Pageant */

.bannerPag{
  border-radius: 10px 20rem;
  margin: auto;
  margin-top: 1rem;
  height: auto;
  width: 40vw;
  background-color:#12141e;
}



/* App.css */

.navbar .menu ul li.relative:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
}

.group:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  opacity: 0;
  transition: all 0.3s ease;
}

.group:hover .dropdown-menu {
  opacity: 1;
  margin-top: 0;
}

/* Media query to handle mobile styles */
@media (max-width: 768px) {
  .dropdown-menu {
      display: block;
      opacity: 1;
  }

  .blue{
    background-color: #030b5e;
  }

  .banner{
    width: 100;
    height: auto;
    border: #12141e;
    border-radius: 10px 10rem;
  }
}
